<div  class="fondo" *ngIf="cerrarSsn">
    <app-cerrar-sesion class="transition"></app-cerrar-sesion>
</div>
<div class="headerPrin" [class.activeDark]='darkmode'>
    <div class="leftPart">
        
        <img routerLink="" src="../../../assets/store-home-svgrepo-com.svg"  height="30px" alt="">
        <div routerLink="" class="RusoStore">
            
            <h4 class="Ruso">Ruso</h4>
            <h4 class="Store">Store</h4>
        </div>
        <div class="categories" (click)="categoryChange = !categoryChange">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="imgs">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9.75L14.25 12m0 0l2.25 2.25M14.25 12l2.25-2.25M14.25 12L12 14.25m-2.58 4.92l-6.375-6.375a1.125 1.125 0 010-1.59L9.42 4.83c.211-.211.498-.33.796-.33H19.5a2.25 2.25 0 012.25 2.25v10.5a2.25 2.25 0 01-2.25 2.25h-9.284c-.298 0-.585-.119-.796-.33z" />
              </svg>
              <p>categories</p>
        </div>
        <div class="container" [class.active7]="categoryChange">
            <app-category-list></app-category-list>
        </div>
    </div>
    <div class="rightPart">
        <button routerLink="cms"></button>
       <p class="email">{{userDetails?.email}}</p>
        <app-nice-button (click)="changeDarkModeTrueFalse()"></app-nice-button>
        <button class="buttonIMG" (click)="changeTrueFalse()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75" />
              </svg>              
        </button>
        <ul class='IMGS' [class.active3]="trufal">
            <li>
                <button  class="buttonIMG" routerLink="">
                    <img src="../../../assets/home.svg" height="20px" alt="">
                </button>
            </li>
            <li>
                <button class="buttonIMG"  routerLink='/user-detail'>
                    <img src="../../../assets/person.svg" height="20px" alt="">
                </button>
            </li>
            <li>
                <button class="buttonIMG"  routerLink='/shopping-cart'>
                    <p>{{proInCar}}</p>
                    <img src="../../../assets/shopping_cart_black.SVG" height="20px" alt="">
                </button>
            </li>
            <li>
                <button class="buttonIMG" (click)="logOut()"   >
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                      </svg>
                </button>
            </li>
        </ul>
        
        
        
        
    </div>
</div>


