.prinDiv{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 40px 30px 20px 20px;
    .textContent{
        .price{
            display: flex;
            font-size: 18px;
            span{
                font-size: 13px;
            }
        }
        .text{
            border-bottom: 1px solid rgb(187, 187, 187);
            .description{
                font-size: 22px;
            }
        }
        .intereses{ 
            font-weight: bold;

        }
    }
    .imageContainer{
        display: grid;
        grid-template-columns: 2fr 4fr 1fr;
        justify-items: end;
        height: 300px;
        width: 500px;
        .bigImg{
            height: 300px;
            width: 400px;
          
        }
        .divsmallImg{
            display: flex;
            flex-direction: column;
            height: 300px;
            width: 100px;
          
            .smallImg{
                height: 60px;
                margin: 0 10px 10px 10px;
                border-radius: 10px;
            }
            .smallImg:hover{
                border: 2px solid #007185;
                height: 57px;

            }
        
        }
    }
    .targetAdd{
        
        flex-direction: column;
        border: 1px solid rgb(209, 208, 208);
        background-color: rgb(252, 252, 252);
        box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.17);
        padding: 20px;
        
        padding: 15px;
        border-radius: 10px;
        h1{
            font-size: 22px;
        }
        .verde{
            color: rgb(1, 94, 1);
            font-size: 17px;
        }
        .negrita{
            font-weight: bold;
        }
        .transaccion{
            color: gray;
            margin: 5px;
            display: flex;
            align-items: center;
            
            svg{
                margin-left: 5px;
                height: 15px;
            }
        }
        .addCart{
            background-color: rgb(171, 30, 57);
            color: rgb(255 255 255);
            border: none;
            font-size: 15px;
            padding: 10px;
        }
        .addCart:hover{
            background-color: rgb(146, 24, 46);
            
        }
    }
    .envio{
        display: flex;
        justify-content: space-between;
    }
}

.gato{
    animation: gato  7s  infinite linear;
}

@keyframes gato {
    0% {
        transform: translateX(-15vw);
    }
    100%{
        transform: translateX(110vw);
    }
}