<div>
    <form [formGroup]="formIn">

        <mat-form-field>
            <mat-label> buscador </mat-label>
            <input formControlName="search" matInput >
        </mat-form-field> 
    </form>
    
    <div *ngIf="giphs.length > 1" class="gifsContainer">
        <div >
            <h2>{{search?.value}}</h2>
        </div> 
        <div  class="gifs">
            <div *ngFor="let items of giphs">
                <img [src]="items.url"  alt="">
            </div>
        </div>
    </div>
</div>