.gifsContainer{
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 20px;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            color: white;
        }
    }
    .gifs{
        grid-template-columns: 1fr 1fr 1fr;
        display: grid;
        justify-items: center;
        gap: 10px;
       
        div{
            background-color: rgba(0, 0, 0, 0.486);
            margin: 10px;
            border-radius: 10px;
            width: 200px;
            height: 200px;
            img{
                max-height: 200px;
                max-width: 200px;
            }
        }
    }

}