<header>
    <app-header ></app-header>
</header>
<div class="principal" [class.activeDarkmode]="darkmode">
    <app-bonito></app-bonito>
    <div class="idk">
        <h1>on trend</h1>

    </div>
   <!-- asdfadsfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdffasdfasdfasdfasdfasdfasdfasdf -->
   <div>
        <button routerLink="asdffasd">i dont know</button>
        <input type="text" [(ngModel)]="funti">
        <span> {{_logAn}}</span>
        
        <div>
            <button (click)="viewDetails('1231312')">throw error</button>
        </div>
    </div>
   <!-- asdfadsfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdffasdfasdfasdfasdfasdfasdfasdf -->

    <div class="targets">
        <app-targets 
        (ToggleCart)="togglecart($event)" 
        (viewDetailsItem)="viewDetails($event)"
        [product]="product" *ngFor="let product of productos; "
        ></app-targets>
        
    </div>
    <div class="isla" [class.active]="tglcar">
        <span >{{title}} añadido al carro </span>
    </div>
    
    <div class="dontXst" [class.active2]="trueDetails"  (click)="toggleDetails()"></div>
    <div class="bttn">
        <app-bttn-load-more (loadMore)="loadMore()" ></app-bttn-load-more>
    </div>
    <div class="dontXst" [class.active2]="trueSettings"  (click)="trueSettings = !trueSettings"></div>
</div>



<!--     <app-settings-bar  class="settings"  [class.active]="trueSettings"></app-settings-bar>
-->



<div class="error" [class.activeError]='errorChange' (click)="toggleError()">
    <app-error-s></app-error-s>
</div>
<app-view-details  class="targetDetails" [class.active]="trueDetails" [trueDetails]="trueDetails" [productDetailsadd]="productSearch"></app-view-details>            