<div class="headerPrin">
    <div class="leftPart">
        <img src="../../../assets/store-home-svgrepo-com.svg"  height="30px" alt="">
        <div class="RusoStore">

            <h4 class="Ruso">Ruso</h4>
            <h4 class="Store">Store</h4>
        </div>
    </div>
    <div class="rightPart">
        <button routerLink="">
            <img src="../../../assets/home.svg" height="20px" alt="">
        </button>
        <button routerLink="hola">
            <img src="../../../assets/person.svg" height="20px" alt="">
        </button>
        <button>
            <p>{{proInCar}}</p>
            <img src="../../../assets/shopping_cart_black.SVG" height="20px" alt="">
        </button>
    </div>
</div>