<div class="PrinContainer">
    <div class="secContainer">
        <h3>Delivery</h3>
        <div class="barra">
            <input type="text" placeholder="Insert code">
            <button> APPLY </button>
        </div>
        <p>10% of discount with code</p>
    </div>
    
    <hr>

    <div class="secontText">
        <div class="subtotal">
            <p>Subtotal</p>
            <p>${{precioTotals}}</p>
        </div>
        <div class="subtotal">
            <p>Total</p>
            <p>${{precioTotalDescuento.toString()}}</p>
        </div>
    </div>
    <button>Complete</button>
</div>