<div class="allContainer">
    <header>
        <div >
            <span>Tittle</span>
        </div>
    </header>
    <nav class="bar_nav">
        <mat-button-toggle-group class="listM">
            <mat-button-toggle class="list" routerLink="tasks">
                <span>tasks </span> 
            </mat-button-toggle>
            <mat-button-toggle class="list" routerLink="grid"> 
                <span>
                    Grid
                </span>
            </mat-button-toggle>
            <mat-button-toggle class="list" routerLink="product">
                <span>
                    Create product
                </span>           
            </mat-button-toggle>
            <mat-button-toggle class="list" routerLink="category">
                <span>
                    Create category
                </span>           
            </mat-button-toggle>
            <mat-button-toggle class="list" routerLink="checkCategories">
                <span>
                    Check all categories
                </span>           
            </mat-button-toggle>
            <mat-button-toggle class="list" routerLink="">
                <span>
                    Home
                </span>           
            </mat-button-toggle>
        </mat-button-toggle-group>
    </nav>
    <main class="mainPrin">
        <router-outlet></router-outlet>
    </main>
</div>
