<div>
        <p>random Text</p>
        <span>{{inputPrin.value}}</span>
        <input type="text" [formControl]='inputPrin'>
        
    <h2> Videojuegos favoritos </h2>




    <form [formGroup]="form" class="formUser">
        <div>

            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" type="text" formControlName="name">
                
            </mat-form-field>
            
            <mat-form-field [@slideInDownAnimation]>
                <mat-label>Contraseña: </mat-label>
                <input  matInput placeholder="Password" type="text" formControlName="password">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Nombre de usuario: </mat-label>
            <input  matInput placeholder="NameTAG" type="text" formControlName="nameTAG">
        </mat-form-field>
        
    </div>
        <button mat-raised-button color="primary" (click)="getALL()">
            submit
        </button>
    </form>

    <div>

        <p>Favorite like souls</p>
        <mat-chip-listbox >
            <mat-chip-option *ngFor="let items of preferenceVideoGames" [value]="items.value">
                {{items.name}}
            </mat-chip-option>
        </mat-chip-listbox>
        
    </div>
   
   
</div>

        

    
