<body class="categoryForm">
    
    
    <form  (ngSubmit)="submit()"  [formGroup]="formCreateCategory">
        <mat-card class="formCard">
            <h4>Crear categoria nueva</h4>
            <mat-card-content class="CategoryCreate">
                <mat-form-field class="inputpadre">
                    <mat-label>Nombre de la categoria</mat-label>
                    <input formControlName="name" type="text" matInput>
                </mat-form-field>
                <img [src]="imageField?.value" *ngIf="imageField?.value" height="70px" alt="">
                <div *ngIf="!categoryId" class="inputpadrediv">
                    <input   (change)="uploadFile($event)" type="file" class="subirimg">
                </div>
                <mat-error class='error'*ngIf="truefalse">Asegurate que sea un link de imagen</mat-error>
            </mat-card-content>
            <mat-card-actions class="bttn">
                <button mat-raised-button  >Crear nueva categoria</button>
            </mat-card-actions>
        </mat-card>
    </form>
<!--     <button (click)="numeroAleatorio()"></button>
 --></body>