
<div class="target" [class.activeDark]="darkmodes">
    <h1>
        Register
    </h1>
    <form  class="formTarget" [formGroup]="registerForm">
        <div  class="divTarget" [class.divDark]="darkmodes">
            <label for="">Name</label>
            <input  id="name" name="name" placeholder="Insert name" required  type="text" formControlName="name">
            <div class="errorDiv" *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.errors?.['minLength']">
                min 4 caracters
            </div>
            <div class="errorDiv" *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.errors?.['required']">
                Name required
            </div>
        </div>
        
        <div class="divTarget" [class.divDark]="darkmodes">
            <label for="">Email</label>
            <input id="email" name="email" required  placeholder="Insert email" type="email"  formControlName="email">
            <div class="errorDiv" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']">Email required</div>
        </div>
        
        <div class="divTarget" [class.divDark]="darkmodes">
            <label for="">Password</label>
            <input id="password" name="password" required  placeholder="Insert password" type="text" formControlName="password">
            <div class="errorDiv" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']">Password required</div>
        </div>
       
        <button (click)="createUser()"  class="sendButton">Send</button>
    </form>

<!--     <button class="sendButton" (click)="getall()"> get all users </button>
 -->
 <!-- <div class="neblina" (click)="changeTrueFalse()" [class.neblinaActive]="loginOrCreate">
    <p> Click here for register!!</p>
    
 </div> -->
</div>