
<div class="target" [class.activeDark]="darkmodes">
    <h1>
        Register
    </h1>
    <form  class="formTarget" [formGroup]="registerForm">
        <div  class="divTarget" [class.divDark]="darkmodes">
            <label for="">Name of the user</label>

            <mat-form-field>

                <mat-label for="">Name</mat-label>
                <input   matInput placeholder="Insert name" required  type="text" formControlName="name">
                <mat-error  *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.errors?.['minlength']">
                    min 4 caracters
                </mat-error>
                <mat-error  *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.errors?.['required']">
                    Name required
                </mat-error>
            </mat-form-field>
        </div>
        
        <div class="divTarget" [class.divDark]="darkmodes">
            <label for="">Dirección de e-mail </label>
            <mat-form-field>

                <mat-label for="">Email</mat-label>
                <input id="email" name="email" required matInput placeholder="Insert email" type="email"  formControlName="email">
                <mat-error  *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']">
                    Email required
                </mat-error>
            </mat-form-field>

        </div>
        
        <div class="divTarget" [class.divDark]="darkmodes">
            <label for="">Password</label>
            <mat-form-field>

                <mat-label for="">Password</mat-label>
                <input  matInput name="password" required  placeholder="Insert password" type="text" formControlName="password">
                <mat-error  *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']">Password required</mat-error>
                <mat-error  *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['minLength']">Min 6 caracters</mat-error>
            </mat-form-field>
        </div>
       
        <button (click)="createUser()"  class="sendButton">Send</button>
    </form>

<!--     <button class="sendButton" (click)="getall()"> get all users </button>
 -->
 <!-- <div class="neblina" (click)="changeTrueFalse()" [class.neblinaActive]="loginOrCreate">
    <p> Click here for register!!</p>
    
 </div> -->
</div>